body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
 
.selfie {
    height: 150px;
    width: 150px;
    border: 2px solid black;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
}
 
.namn {
    height: 150px;
    width: 200px;
    font-size: 50px;
    float: left;
    margin: 20px;
    margin-top: 70px;
}
 
.info {
    font-size: 2em;
    clear: left;
    margin-left: 100px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}
 
.text {
    font-size: 20px;
    width: 680px;
    height: 120px;
    margin-left: 100px;
    clear: left;
}
 
.list {
    margin-left: 100px;
    font-size: 20px;
}
 
.year {
    clear: left;
    width: 250px;
    height: 200px;
    float: left;
}
 
.year2 {
    clear: left;
    width: 300px;
    height: 200px;
    float: left;
}
 
.work {
    float: left;
    font-size: 20px;
}
 
.work li {
    list-style-type: none;
}
 
.jobtype {
    float: left;
    font-size: 20px;
    
}
 
.jobtype li {
    list-style-type: none;
}

